<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{auth.login.page-title}">Login</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
        <h1 th:text="#{auth.login}">Login</h1>

        <div class="col-3 alert alert-danger my-2" th:if="${param.error}" th:text="#{auth.login.error-invalid-cred}">
            Invalid username or password.
        </div>

        <div class="col-3 alert alert-danger my-2" th:if="${param.logout}" th:text="#{auth.login.error-logged-out}">
            You have been logged out. Please sign in again.
        </div>

        <form class="col-3 d-flex flex-column gap-2" th:action="@{/login}" method="post">
            <div>
                <label class="form-label" th:text="#{auth.username}" for="username">
                    Username
                </label>
                <input class="form-control" id="username" name="username" type="text"/>
            </div>

            <div>
                <label class="form-label" th:text="#{auth.password}" for="password">Password</label>
                <input class="form-control" id="password" name="password" type="password"/>
            </div>

            <button class="btn btn-primary" type="submit" th:text="#{auth.login}">Login</button>
        </form>
    </div>
</section>
</body>
</html>
