<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{manager.page-title}">Manager</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
        <h1 th:text="#{manager.message}">Only managers can see this!</h1>
    </div>
</section>
</body>
</html>
