<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{auth.register.success.page-title}">Registration Successful</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container h-100 d-flex flex-column justify-content-center align-items-center gap-2">
        <h1 th:text="#{auth.register.success}">Registration Successful</h1>
        <a class="btn btn-primary" th:href="@{/login}" th:text="#{auth.register.success-login-link}">Go to login page</a>
    </div>
</section>
</body>
</html>
